
<%= form_with(model: amigo, local: true) do |form| %>
  <% if amigo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amigo.errors.count, "error") %> prohibited this amigo from being saved:</h2>

      <ul>
        <% amigo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
        <%= form.text_field :nome, class:"form-control", placeholder:"Nome" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :sobrenome, class:"form-control", placeholder:"Sobrenome" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :email, class:"form-control", placeholder:"E-mail" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :telefone, class:"form-control", placeholder:"Telefone" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :twitter, class:"form-control", placeholder:"id do twitter" %>
  </div>
  <div class="field form-group">
    <%= form.number_field :user_id, id: :amigo_user_id,  class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="action">
    <%= form.submit 'Salvar', :class => "btn btn-primary"  %>
  </div>
  <br/>
<% end %>
